body{
	color: gray;
	font:12px Arial ;
	line-height: 2em;
}

tr td a{
	color:#727272;
	text-decoration: none;
}
ul li a{
	color:#727272;
	text-decoration: none;
}
a:hover{
			text-decoration:underline; 
}
.si{
	font-size: 14px;
	font-weight: bolder;
	color:white;
	text-decoration: none;
}
.si:hover{
	color:#b9f605;
	text-decoration: none;
}
